name: TestAndBuild
on: [push]
jobs:
  test:
    services:
      rabbitmq:
        image: rabbitmq:3-management
        ports:
        - "5672:5672" # AMQP
        - "15672:15672" # Dashboard
      redis:
        image: redis:latest
        ports:
          - "6379:6379"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: 21
          distribution: 'adopt'
      - name: Test with gradle
        run: ./gradlew test
      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: backend/build/reports/tests/test